<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InStories</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link href="/iconka2.ico" rel="shortcut icon" runat="server" type="image/x-icon" />
    <link href="/iconka2.ico" rel="icon" runat="server" type="image/ico" />
</head>
<body>
    <section class="main">

        <header class="header">
            <div class="container">
                <div class="column"></div> <!-- Первая колонка (пустая) -->
                <div class="column">
                    <label id="InStories">InStories</label> <!-- Вторая колонка -->
                </div>
                <div class="column menu-button">
                    <!-- Третья колонка -->
                    <label>Главная страница</label>
                    <label>Книги</label>
                </div>
                <div class="column nickname">
                    <!-- Четвертая колонка -->
                    <img id="avatar" alt="Аватар" src="images/avatar.png" />
                    <label id="name">nickname</label>
                    <img id="bell" alt="Колокольчик" src="images/bell.png" />
                </div>
                <div class="column"></div> <!-- Пятая колонка (пустая) -->
            </div>
        </header>


        

        <div>
            <main role="main">
                @RenderBody()
            </main>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="column"></div> <!-- Первая колонка (пустая) -->
                <div class="column">
                    <!-- Третья колонка (текст) -->
                    <label>by Ingini</label>
                    <label>© 2024 InStories. Все права защищены.</label>
                </div>
                <div class="column"></div> <!-- Четвертая колонка (пустая) -->
            </div>
        </footer>

    </section>  

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/_Layout.js"></script>

</body>
</html>