@{
    Layout = "_Layout";
}
<div class="functionbook"> 
    <div class="leftright">
        <div class="left">
            <div class="cover">
                <img id="camera" src="~/images/photocamera.png" alt="Камера" />
            </div>
        </div>
        <div class="right">
            <div class="title">Введите название книги</div>
            <input type="text" class="input">
            <div class="buttons">
                <div class="button" data-type="characters" onclick="ToCharacter()">ПЕРСОНАЖИ <span class="arrow">></span></div>
                <div class="button" data-type="connections">СВЯЗИ <span class="arrow">></span></div>
                <div class="button" data-type="timeline">ТАЙМЛАЙН <span class="arrow">></span></div>
            </div>
        </div>
    </div>
    <div class="arrow">
        <p>&#10003</p>
    </div>
    <img id="cat" alt="Котик" src="~/images/cat/catfunctionbook.png">
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/functionbook.js"></script>