@{
    Layout = "_Layout";
}
<div class="character">
    <div class="left">
        <div class="character-list">
            
        </div>
    </div>
    <div class="right">
        <div class="header">
            <img class="icon" id="icon"/>
            <p id="namecharacter"></p>
        </div>
        <div class="blocks-list">

        </div>
        <div class="content">

        </div>
    </div>
    <div class="arrow">
        <p>&#10003</p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/character.js"></script>