@{
    Layout = "_Layout";
}
<div class="character">
    <div class="character-left">
        <div class="character-list">
            
        </div>
    </div>
    <div class="character-right">
        <div class="character-header">
            <img class="icon" id="icon"/>
            <p id="namecharacter"></p>
        </div>
        <div class="character-blocks-list">

        </div>
        <div class="character-content">

        </div>
    </div>
    <div class="arrow">
        <p>&#10003</p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/character.js?v=2"></script>