body {
    background: linear-gradient(to bottom, #CA0F91, #B280FE);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

.container h1, h2{
    text-align:center;
}

.container h1 {
    color: white;
    font-size: 3rem;
}
.container h2 {
    font-size: 1rem;
    margin-left: -8.5rem;
    margin-top: -2rem;
    margin-bottom: 3rem;
}

form {
    background: rgba(255, 255, 255, 0.5); /* Полупрозрачный белый фон */
    padding: 30px; /* Отступы внутри */
    border-radius: 10px; /* Скругленные углы */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень */
    width: 50vw; /* Ширина 50% от ширины окна */
    max-width: 400px;
    height: 30vh; /* Высота 30% от высоты окна */
    max-height: 300px;
    /* Flexbox для центрирования содержимого */
    display: flex; /* Включаем Flexbox */
    flex-direction: column; /* Выравнивание по колонкам */
    justify-content: center; /* Центрирование по вертикали */
}

form label{
    font-size: 1.2rem;
    color: white;
}
    

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #fff;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.5); /* Полупрозрачный белый фон */
    box-sizing: border-box;
}

button {

    background-color: #CA0F91;
    color: white;
    padding: 12px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    button:hover {
        opacity: 0.8;
    }

a {
    color: white;
    text-decoration: none;
    margin-top:3rem;
    font-size: 1.1rem;
    display: flex; /* Включаем Flexbox */
    flex-direction: column; /* Выравнивание по колонкам */
    justify-content: center; /* Центрирование по вертикали */
    text-align:center;
}

a:hover {
    text-decoration: underline;
}
