.book {
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 80vw;
	background-color: #161519; /* Dark background color */
	margin: 0;
	padding: 0;
	overflow: auto;
}

.book-list {
	margin-left: 1rem;
	margin-right: 1rem;
	display: flex; /* Use flexbox for better responsiveness */
	flex-direction: row;
	flex-wrap: wrap; /* Wrap items to multiple rows if needed */
	justify-content: center; /* Center items horizontally */
	padding: 20px;
	min-width: 80vw;
}

.book-item {
	width: 200px;
	margin: 50px; /* Уменьшен отступ для лучшего расположения */
	border: 1px solid #ddd;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: -12px 12px rgba(178, 128, 254, 0.9);
	position: relative; /* Для позиционирования элементов */
	cursor: pointer;
}

.book-cover {
	width: 100%;
	height: 200px;
	background-size: cover;
	/* Заменить на фактическое изображение позже */
}

.book-title {
	padding: 10px;
	color: white;
	text-align: center;
	font-weight: bold;
}

#plus {
	position: fixed; /* Изменено на fixed для фиксированного позиционирования */
	width: 3rem;
	height: 3rem;
	bottom: 90px; /* Расстояние от нижнего края */
	right: 50px; /* Расстояние от правого края */
	background-color: #B280FE;
	border-radius: 50%;
	cursor: pointer;
	display: flex; /* Добавлено для центрирования содержимого */
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

	#plus p {
		font: bold; /* Убедитесь, что это правильное свойство */
		color: #fff;
		font-size: 2rem;
		margin: 0; /* Убраны лишние отступы */
	}