.functionbook {
    background-color: #161519; /* светлее фон для блока */
}

.leftright {
    border-radius: 8px;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    min-width: 80vw;
}

.left {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: -6rem;
    margin-right: 6rem;
}

.cover {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 250px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: -12px 12px rgba(178, 128, 254, 0.9);
    cursor: pointer;
}

#camera {
    width: 100px;
    height: auto;
}

.right {
    flex: 1;
}

.title {
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
}

.input {
    width: 90%;
    max-width: 400px;
    min-width: 300px;
    height: 30px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: transparent; /* цвет фона для поля ввода */
    color: white;
    font-size: 20px;
}

    .input:focus {
        outline: none;
        background-color: #4a4a4a; /* цвет фона при фокусе */
    }

.buttons {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-width: 300px;
}

.button {
    background-color: rgba(178, 128, 254); /* цвет кнопок */
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    max-width: 400px;
    height: 30px;
    font-size: 20px;
}

    .button:hover {
        background-color: #772ab5; /* цвет кнопок при наведении */
    }

.arrow {
    position: fixed; /* Изменено на fixed для фиксированного позиционирования */
    width: 3rem;
    height: 3rem;
    bottom: 90px; /* Расстояние от нижнего края */
    right: 50px; /* Расстояние от правого края */
    background-color: #B280FE;
    border-radius: 50%;
    cursor: pointer;
    display: flex; /* Добавлено для центрирования содержимого */
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

    .arrow p {
        font: bold; /* Убедитесь, что это правильное свойство */
        color: #fff;
        font-size: 3rem;
        margin: 0; /* Убраны лишние отступы */
    }

#cat {
    width: 300px;
    height: 300px;
    display: flex;
    z-index: 30;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
