.home {
	min-height: 80vh; /* Задаем высоту родительского контейнера (100% высоты окна) */
}

.video-background {
	position: relative;
	height: 80vh; /* Высота блока видео */
	overflow: hidden;
}

.background-gif {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	transform: translate(-50%, -50%);
}

.overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	background-color: rgba(255, 255, 255, 0.7); /* Полупрозрачный фон */
	padding: 20px;
	border-radius: 10px; /* Закругленные углы */
}

	.overlay h1 {
		color: #B280FE; /* Белый цвет текста */
		text-shadow: 0px 1px 1px black;
		margin: 0;
	}

	.overlay button {
		margin-top: 1rem;
		border: 5px solid #B280FE;
		background-color: #B280FE;
		color: white; /* Цвет текста кнопки */
		padding: 10px 20px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		text-shadow: 0px 1px 1px black;
	}

.newscat {
	margin-top: 5rem;
	display: flex; /* Используем flexbox для компоновки */
	align-items: center; /* Центрируем элементы по вертикали */
	justify-content: center; /* Центрируем элементы по горизонтали */
}

.news {
	background-color: #B280FE; /* Светло-фиолетовый фон */
	border-radius: 10px; /* Закругленные углы */
	padding: 20px; /* Отступ внутри блока новостей */
	width: 100%; /* Занимаем полную ширину блока */
	max-width: 350px; /* Устанавливаем максимальную ширину */
	height: 350px; /* Устанавливаем фиксированную высоту */
	position: relative; /* Относительное позиционирование для абсолютных дочерних элементов */
}

.news-content {
	margin: 40px;
}
	.news h1 {
		color: #fff; /* Белый цвет текста */
		font-size: 1.5rem; /* Размер шрифта для заголовка */
		margin-bottom: 10px; /* Пробел под заголовком */
	}

	.news p {
		color: #fff; /* Белый цвет текста */
		font-size: 1rem; /* Размер шрифта для абзацев */
		line-height: 1.5; /* Высота строки для удобочитаемости */
	}



#date {
	position: absolute; /* Абсолютное позиционирование для даты внутри блока новостей */
	bottom: 10px; /* Расстояние от нижнего края */
	right: 10px; /* Расстояние от правого края */
	color: rgba(255, 255, 255, 0.8); /* Слегка прозрачный белый цвет */
	font-size: 0.875rem; /* Размер шрифта для даты */
}

.nav-button {
	background-color: rgba(255, 255, 255, 0.4); /* Полупрозрачный белый фон */
	border: none; /* Убираем рамку */
	cursor: pointer; /* Указатель при наведении */
	font-size: 24px; /* Размер шрифта для стрелок */
	border-radius: 50%; /* Закругленные кнопки */
	width: 40px; /* Ширина кнопки */
	height: 40px; /* Высота кнопки */
	position: absolute; /* Абсолютное позиционирование */
	display: flex; /* Flex для центрирования содержимого */
	align-items: center; /* Вертикальное центрирование */
	justify-content: center; /* Горизонтальное центрирование */
}

#prev {
	left: 10px; /* Положение кнопки влево */
	top: 50%; /* Положение по вертикали */
	transform: translateY(-50%); /* Центрируем по вертикали */
}

#next {
	right: 10px; /* Положение кнопки вправо */
	top: 50%; /* Положение по вертикали */
	transform: translateY(-50%); /* Центрируем по вертикали */
}


.gif-container {
	display: flex; /* Используем flexbox для контейнера с гифкой */
	align-items: center; /* Центрируем гифку по вертикали */
	margin-top:100px;
	width: 100%; /* Занимаем полную ширину контейнера */
	max-width: 250px; /* Устанавливаем максимальную ширину */
	height: 350px; /* Устанавливаем фиксированную высоту, равную высоте блока новостей */
}

	.gif-container img {
		width: 100%; /* Занимаем полную ширину родительского элемента */
		height: 100%; /* Занимаем полную высоту родительского элемента */
		object-fit: contain; /* Сохраняем пропорции изображения, вписывая его в контейнер */
	}
