html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column; /* Вертикальное выравнивание */
}

.header {
	background-color: #B280FE;
	padding: 1rem;
	display: flex;
	align-items: center; /* Вертикальное выравнивание по центру */
	height: 5vh;
	min-height: 30px;
}

	.header div{
		margin-left:5px;
		margin-right:5px;
	}

.container {
	display: flex;
	width: 100%; /* Занимает всю ширину */
}

.column {
	flex: 1; /* Каждая колонка занимает равное пространство */
	display: flex;
	align-items: center; /* Вертикальное выравнивание по центру */
	justify-content: center; /* Горизонтальное выравнивание по центру */
}

label {
	color: white;
}

#InStories {
	font-size: 2rem;
	font-weight: bold;
}

.menu-button {
	display: flex;
	gap: 1rem;
}

	.menu-button label {
		font-size: 1.2rem;
		cursor: pointer;
	}

.nickname {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

#avatar {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

#name {
	font-size: 1.2rem;
}

#bell {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

main {
	background-color: #161519;
	flex: 1; /* Занимает оставшееся пространство */
	width: 100%;
	min-height: 90vh;
	overflow: auto; /* Позволяет прокручивать содержимое, если оно превышает высоту */
}

.footer {
	background-color: #161519;
	display: flex;
	width: 100%; /* Убедитесь, что футер занимает всю ширину */
	padding: 1rem; /* Добавьте отступы, если нужно */
	box-sizing: border-box; /* Учитываем отступы в высоте */
	height: 20vh;
	min-height: 120px; /* Минимальная высота футера */
}

	.footer .column {
		flex: 1; /* Каждая колонка занимает равное пространство */
		display: flex; /* Используем Flexbox для размещения элементов внутри колонки */
		flex-direction: column; /* Располагаем элементы вертикально */
		align-items: center; /* Центрируем элементы по горизонтали */
		justify-content: center; /* Центрируем элементы по вертикали */
		min-width: 0; /* Позволяет колонкам уменьшаться, если это необходимо */
	}

	.footer label {
		margin-top: 15px; 
	}

.logo img {
	width: 120px; /* Ширина логотипа */
	height: auto; /* Автоматическая высота для сохранения пропорций */
}

.footer label {
	color: white; /* Цвет текста в футере */
	font-size: 1rem; /* Размер шрифта */
	text-align: center; /* Центрирование текста */
}
