@{
    Layout = "_Layout";
}

<div class="home">
    <div class="video-background">
        <img id="background-gif" src="images/gif/1.gif" alt="Фоновая анимация" class="background-gif">
        <div class="overlay">
            <h1>Создайте героев своей истории!</h1>
            <button onclick="goToBook()">Перейти</button>
        </div>
    </div>

    <div class="newscat">
        <div class="news">
            <button id="prev" class="nav-button">&#10094;</button> <!-- Стрелка влево -->
            <div class="news-content">
                <h1 id="news-title">Новая новость</h1>
                <p id="news-text">Текст, текст, текст</p>
                <p id="date">20.11.2924</p>
            </div>
            <button id="next" class="nav-button">&#10095;</button> <!-- Стрелка вправо -->
        </div>

        <div class="gif-container">
            <img src="~/images/gif/homecat.gif" alt="Gif">
        </div>
    </div>

</div>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/home.js"></script>

