@{
    Layout = "_Layout";
}

<div class="section" style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <label style="font-size: 40px">Тут диплом, всем спасибо, всем пока</label>
    <img style="width:1000px;height:auto;display: flex; align-items: center; justify-content: center; flex-direction: column;" src="https://funik.ru/wp-content/uploads/2018/10/17478da42271207e1d86.jpg" alt="Описание изображения" />
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/home.js"></script>

