@{
    Layout = "_Layout";
}

<div class="home">
    <div class="news">
        <h1>Новая новость</h1>
        <p>Текст, текст, текст</p>
        <p id="date">20.11.2924</p>
    </div>
    <div class="gif-container">
        <img src="~/images/gif/home_cat_gif.gif" alt="Gif">
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/home.js"></script>

